---
import { redirects } from '../data/redirects.js'

export async function getStaticPaths() {

	let paths = []

	for (const redirectBatch of redirects) {
		for (const redirectFromEntry of redirectBatch.from) {
			paths.push({
				params: { path: redirectFromEntry },
				props: { target: redirectBatch.to }
			})
		}
	}

  return paths
}

const { target } = Astro.props

---

<html>
  <head>
    <link rel="canonical" href={target} />
    <meta http-equiv="refresh" content={`0; URL='${target}'`} />
  </head>
  <body>
    <p>This is a redirect page to {target}.</p>
    <p>If you are not automatically redirected, please click <a href={target}>here</a>.</p>
  </body>
</html>
